:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #ffffff;
  --vt-c-white-mute: #ffffff;

  --vt-c-black: #000000;
  --vt-c-black-soft: #564d4f;
  --vt-c-black-mute: #000000;

  --vt-c-indigo: #2a4152;
  --vt-c-indigo-soft: #86b4c9;

  --vt-c-gray: #5f676f;
  --vt-c-gray-soft: #7d7d7d;
  --vt-c-gray-mute: #c3c3c3;

  --vt-c-peach: #d78a91;

  --vt-c-light-blue: #00bcd4;

  --vt-c-divider-light-1: var(--vt-c-indigo);
  --vt-c-divider-light-2: var(--vt-c-gray);
  --vt-c-divider-light-3: var(--vt-c-gray-soft);
  --vt-c-divider-dark-1: var(--vt-c-indigo);
  --vt-c-divider-dark-2: var(--vt-c-indigo);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: var(--vt-c-gray);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: var(--vt-c-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-background-2: var(--vt-c-gray);
  --color-background-3: var(--vt-c-indigo-soft);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-border-2: var(--vt-c-divider-light-3);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-black-soft);
  --color-placeholder: var(--vt-c-gray-mute);

  --color-danger: var(--vt-c-peach);
  --color-link: var(--vt-c-light-blue);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Zen Old Mincho', serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
